each e in res
	div(class='body_div', id=e.id)
		p=e.name 
		p=e.address
		p=e.phone

script.
	$('.body_div').click(function(){
	var clicknum=name;
	$.ajax({
		url:'/menu_details',
		type:'GET',
		success:function(url){
			$('.main_body').html(url);
		}
	});
	return false;
	});