head
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='../js/check.js')
    link(rel='stylesheet', href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    script(src='../js/check.js')
body
    include overview.pug
    #create_menu
        div(name='create_menu',style='width:300px;text-align:right;display:inline-block')
            sqan  店名：
            input(type='text',style='display:inline-block;min-width:200px;')#shop_name
            br
            sqan 店家電話
            input(type='text',style='display:inline-block;min-width:200px;margin:0 auto;' onkeyup='phone_up_key(this.value)')#shop_phone
            span(style='text-align:left') ex.12-34567890
            br
            sqan 店家地址
            input(type='text',style='display:inline-block;min-width:200px')#shop_address
            br
        button#go_create_menu 確定
        br
        div(style='text-align:center;min-height:15px;min-width:15px').body_div.plus_kinds 新增種類
        div(style='text-align:center;min-height:15px;min-width:15px').body_div.plus_food 新增餐點
        div(style='text-align:center;min-height:15px;min-width:15px').body_div.dele_kinds 刪除所選種類
        br
        div.kind_box
    div.check_box(style='position:fixed;bottom:50px;right:50px;width:200px;height:50px;visibility:hidden')
        span(style='color:red') 您還有欄位填錯/未填
script.
    let menu_num = []
    let food_num = []
    let list_now = 0 
    //新增種類
    $('.plus_kinds').click(function(){
        food_num[menu_num.length]=0
        list_now = menu_num.length
        menu_num[menu_num.length]=0
        $('.create_food_menu').hide();
        $("<input/>", {
            "class": "kinds_num kinds"+list_now,
            "id":list_now,
            "style":'min-width:50px;display:inline-block',
            "placeholder":"請輸入種類",
        }).appendTo(".kind_box");
        $("<div/>", {
            "class": "create_food_menu",
            "id": "menu"+list_now,
        }).appendTo('#create_menu');
        plus_food();
    })
    $('.plus_food').click(function(){
        plus_food();
    })
    //新增餐點
    function plus_food(){
        $('<div/>',{
            "id":"menu"+list_now+"box"+food_num[list_now],
        }).appendTo("#menu"+list_now)
         $("<br/>", {
        }).appendTo("#menu"+list_now+"box"+food_num[list_now]);
        $("<span/>", {
            "text": "餐點名稱:"
        }).appendTo("#menu"+list_now+"box"+food_num[list_now]);
        $("<input/>", {
            "class": "food_name foods"+list_now,
            "id": "menu"+list_now+"_food"+food_num[list_now],
            'style':'display:inline-block',
            "type":"text",
            "value": ""
        }).appendTo("#menu"+list_now+"box"+food_num[list_now]);
        $("<span/>", {
            "text": "餐點價格:"
        }).appendTo("#menu"+list_now+"box"+food_num[list_now]);
        $("<input/>", {
            "class": "food_price prices"+list_now,
            "id": "menu"+list_now+"_price"+food_num[list_now],
            'style':'display:inline-block',
            "type":"number",
            "value": "",
            "min":"0",
            "max":"100000"
        }).appendTo("#menu"+list_now+"box"+food_num[list_now]);
        $("<span/>", {
            "text": "刪除這項",
            "style":"margin-left:150px",
            "id":"menu"+list_now+"_dele"+food_num[list_now],
            "class":"dele_btn"
        }).appendTo("#menu"+list_now+"box"+food_num[list_now]);
        food_num[list_now]+=1
    }
    //選種類
    $('body').on("click", '.kinds_num', function () {
        $('.create_food_menu').hide();
        $('.kinds_num').css('border-color','black');
        list_now =this.id;
        this.style.borderColor='blue'
        $('#menu'+list_now).show();
    });
    //輸入價錢
    $("form").on("change",".food_price",function () {
        var this_price = document.getElementById(this.id);
        if(check_price_num(this_price.value)==false){
            this_price.style.color='red';
        }else if (check_price_num(this_price.value)==true){
            this_price.style.color='black';
        }
    });
    //輸入電話
    $("body").on("change","#shop_phone",function () {
        var this_phone = document.getElementById(this.id);
        if(check_phone_num(this_phone.value)==false){
            this_phone.style.color='red';
        }else if (check_phone_num(this_phone.value)==true){
            this_phone.style.color='black';
        }
    }); 
    //刪除餐點
    $('body').on('click','.dele_btn',function(){
        console.log($('#'+this.id).parent('div').remove())
    });
    //刪除種類
    $('.dele_kinds').click(function(){
        $('#'+list_now).remove()
        $("#menu"+list_now).remove()
    })

    $('#go_create_menu').click(function(){
        let data = {};
        data.shopName = document.querySelector('#shop_name').value;
        data.shopTel = document.querySelector('#shop_phone').value;
        data.shopAddress = document.querySelector('#shop_address').value;
        data.list =[]
    
        let kinds = document.querySelectorAll(".kinds_num");

        for (let i = 0; i < kinds.length; i++)
        {
            let food = document.querySelectorAll('.foods'+i);
            let price = document.querySelectorAll('.prices'+i);

            let list = {};
            list.type = kinds[i].value;
            list.drink = [];

            for (let x = 0; x < food.length; x++)
            {
                let drink = {};
                drink.name = food[x].value;
                drink.price = price[x].value;
                
                list.drink.push(drink);
            }

            data.list.push(list);
        }

        $.ajax({
            type: 'POST',
            url: "/submitCreateMenu",
            data: data,
            success: function(result){
                location.href = '\\';
            },
            error: function(result){   
                let message = result.responseText;
                message = message.slice(message.search("<pre>Error:")+5);
                message = message.slice(0, message.search("<br>"));
                alert(message);
                return false;
            }
        });
    })