html
  head
  body
    table(width='800px')
      tr
        td(width='10%') 編號
        td(width='40%') 品名
        td(width='15%') 總數
        td(width='15%') 單價
        td(width='20%') 小計

      -let i = 1;
      each val in listByItem
        tr
          td #{i++}
          td #{val.name}
          td #{val.count}
          td $ #{val.price}
          td $ #{val.total}

      tr
        td
        td
        td
        td(style="border-top:3px solid white; text-align:right") 總計：
        td(style="border-top:3px solid red") $ #{sumByItem}
    br
    br
    br
    
    table(width='800px' style='border-collapse:collapse;')
      tr
        td(width='25%') 名字
        td(width='25%') 品名
        td(width='15%') 總數
        td(width='15%') 單價
        td(width='20%') 總計

      each val in listByUser
        tr.userColumn
          td #{val.user}
          td #{val.name}
          td #{val.number}
          td $ #{val.price}
          td #{val.sum}
    
    script.
      let column = document.querySelectorAll(".userColumn");
      let color = true;

      for (let col of column)
      {
        if (col.childNodes[0].textContent != "")
          color = !color
        
        let colorStr = color? "#FFF4C1" : "#C4E1FF";
        col.setAttribute("style",`background-color: ${colorStr}`);
      }  
