head
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    link(rel='stylesheet', href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    script(src='../js/check.js')
body
    include overview.pug
    form(method='POST',action='',name='create_menu',id='create_menu')
        div(style='width:300px;text-align:right;display:inline-block')
            sqan  店名：
            input(type='text',style='display:inline-block;min-width:200px;')#shop_name
            br
            span 店家電話：
            input(type='text',style='display:inline-block;min-width:200px;margin:0 auto;' onkeypress='phone_press_key(this.value)')#shop_phone
            br
            sqan 店家地址：
            input(type='text',style='display:inline-block;min-width:200px')#shop_address
            br  
            button#go_create_menu 確定
        br
        div(style='text-align:center;min-height:15px;min-width:15px').body_div.plus_kinds 新增種類
        div(style='text-align:center;min-height:15px;min-width:15px').body_div.plus_food 新增餐點
        br
        div.kind_box 
script.
    let menu_num = []
    let food_num = []
    let list_now = 0 
    //新增種類
    $('.plus_kinds').click(function(){
        food_num[menu_num.length]=0
        list_now = menu_num.length
        menu_num[menu_num.length]=0
        $('.create_food_menu').hide();
        $("<input/>", {
            "class": "kinds_num",
            "id":list_now,
            "style":'min-width:50px;display:inline-block',
            "placeholder":"請輸入種類",
            "text": "種類"+menu_num.length
        }).appendTo(".kind_box");
        $("<div/>", {
            "class": "create_food_menu",
            "id": "menu"+list_now,
        }).appendTo('#create_menu');
        plus_food();
    })
    $('.plus_food').click(function(){
        plus_food();
    })
    //新增餐點
    function plus_food(){
        $("<br/>", {
        }).appendTo("#menu"+list_now);
        $("<span/>", {
            "text": "餐點名稱:"
        }).appendTo("#menu"+list_now);
        $("<input/>", {
            "class": "food_name",
            "id": "menu"+list_now+"_food"+food_num[list_now],
            'style':'display:inline-block',
            "type":"text",
            "value": ""
        }).appendTo("#menu"+list_now);
        $("<span/>", {
            "text": "餐點價格:"
        }).appendTo("#menu"+list_now);
        $("<input/>", {
            "class": "food_price",
            "id": "menu"+list_now+"_price"+food_num[list_now],
            'style':'display:inline-block',
            "type":"number",
            "value": "",
            "min":"0",
            "max":"100000"
        }).appendTo("#menu"+list_now);
        food_num[list_now]+=1
    }
    //選種類
    $('body').on("click", '.kinds_num', function () {
        $('.create_food_menu').hide();
        $('.kinds_num').css('border-color','black');
        list_now =this.id;
        this.style.borderColor='blue'
        $('#menu'+list_now).show();
    });
    //輸入價錢
    $("form").on("change",".food_price",function () {
        var this_price = document.getElementById(this.id);
        console.log(check_price_num(this_price.value))
        if(check_price_num(this_price.value)==false){
            this_price.style.color='red';
        }else if (check_price_num(this_price.value)==true){
            this_price.style.color='black';
        }
    });
    //輸入電話
    $("body").on("change","#shop_phone",function () {
        var this_phone = document.getElementById(this.id);
        if(check_phone_num(this_phone.value)==false){
            this_phone.style.color='red';
        }else if (check_phone_num(this_phone.value)==true){
            this_phone.style.color='black';
        }
    }); 

    $('#go_create_menu').click(function(){
        let menu_name=document.querySelectorAll('.kinds_num')
        let food_name=document.querySelectorAll('.food_name')
        let food_price=document.querySelectorAll('.food_price')
        for(var i=0;i<menu_name.length;i++){

        }
        for(var i=0;i<food_name.length;i++){
            console.log('餐點名稱：'+food_name[i].value+'價格：'+food_price[i].value)
        }
        return false
    })