ul 
		li= '發起人: ' + event.org_id
		li= event.res_id
		li= '截止時間: ' + event.end_time

H2 Menu
each v, k in menu
	ul= k
	each item in v
		li= item.name
		li= item.price

//- button#send 送出
//- //- script(src='../js/order.js')
//- -var shop_list=['rice','noddle']
//- -var kind_list=[['龍哥控肉飯','2','3','4','5','6','7','8','9','10','11'],['5','2','3','4','5','5','5','5','5','5','5']];
//- -var kind_price=[['1','2','3','4','5','5','6','7','8','9','10'],['5','2','3','4','5','5','5','5','5','5','5']];
//- h5 日期
//- h5 店家名稱：
//- h5 結束時間
//- h5 可訂購選項
//-     |   價格
//-     |   數量
//- p
//- each val,i in shop_list
//-     .kind_div
//-         span #{shop_list[i]}

//- div.order_div
//-     each val,i in kind_list
//-             div.kind_body
//-                 each val,j in kind_list[i]
//-                     span #{kind_list[i][j]}  
//-                     span 價格：$ #{kind_price[i][j]}
//-                     input(type='number' min=0 max =20 style='display:inline-block;')
//-                     p


//- script.
//-     for (var i in document.querySelectorAll(".kind_body"))
//-         document.querySelectorAll(".kind_body")[i].id = i;
//-     for (var i in document.querySelectorAll(".kind_div"))
//-         document.querySelectorAll(".kind_div")[i].id = (i*1)+10;

//-         var kind_list = "#{kind_list}";
//-         var kind_price = "#{kind_price}";
//-     for (var i in document.querySelectorAll(".kind_div"))
//-             $("#"+i).hide();
            
    
//-     $(function(){

//-         $(".kind_div").click(function(){
//-             for (var i in document.querySelectorAll(".kind_div"))
//-                 $("#"+i).hide();
//-             var a =this.id;
//-             console.log(a);
//-             $("#"+(a-10)).show();
//-         });
//-         });